@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper-custom {
    @apply max-w-screen-lg mx-auto px-4;
}

.section-pb {
    @apply pb-[125px];
}

.primary-heading-custom {
    @apply font-jost text-base uppercase;
}

.secondary-heading-custom {
    @apply font-jost text-6xl font-semibold;
}

.tertiary-heading-custom {
    @apply font-jost text-4xl font-medium;
}

.description-custom {
    @apply font-jost text-lg;
}

.scale-custom {
    @apply reduce-motion:hover:scale-100 transition-transform duration-200 hover:scale-105;
}

.interact-none {
    @apply pointer-events-none select-none;
}

.standard-button {
    @apply dark:bg-white dark:text-black text-white font-jost text-lg bg-primary-green px-10 py-2.5 rounded-3xl;
}

.standard-input {
    @apply bg-white border border-black shadow-custom rounded p-1 font-jost text-lg outline-primary-green;
}

.standard-svg {
    @apply fill-secondary-green stroke-tertiary-green;
}

.dark-text {
    @apply dark:text-white
}

.dark-img {
    @apply dark:inline-block hidden
}

.light-img {
    @apply dark:hidden inline-block
}

.dark-bg {
    @apply dark:bg-dark-primary
}

.underline-hover {
    @apply reduce-motion:after:transition-none dark:after:bg-white relative after:absolute after:w-full after:h-[3px] after:-bottom-1 after:left-[1px] after:bg-primary-green after:origin-bottom-left after:scale-x-0 after:transition-transform after:duration-300 after:hover:scale-x-100 after:hover:origin-bottom-left
}

.shadow-custom {
    box-shadow: 0 4px 9px rgba(0,0,0,.047),0 1.54074px 2.86667px rgba(0,0,0,.073),0 .32593px .73333px rgba(0,0,0,.12);
}

.headroom {
    position: fixed;
}

.header-headroom.headroom--pinned {
	transform: translateY( 0px );
}

.header-headroom.headroom--unpinned {
	transform: translateY( -150px );
}

.header-headroom.headroom--not-top {
    background-color: rgb(246 253 243/var(--tw-bg-opacity, 0.95));
}

.popup-headroom::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: linear-gradient(
        to bottom,
        transparent,
        rgba(246, 253, 243, 0.65),
        rgba(230, 245, 230, 1)
    );
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

html[data-theme="dark"] .popup-headroom::before {
    background-image: linear-gradient(
        to bottom,
        transparent,
        rgba(240, 240, 240, 0.25),
        rgba(200, 200, 200, 1)
    );
}

.popup-headroom.headroom--not-bottom::before {
    opacity: 1;
}

.custom-header-border {
    background-color: transparent;
    width: 100%;
    height: 1px;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}

html[data-theme="dark"] .header-headroom.headroom--not-top {
    background-color: rgba(255, 255, 255, 0.70);
}

html[data-theme="dark"] .header-headroom.headroom--not-top .custom-header-border {
    background-color: transparent;
    box-shadow: none;
}

.headroom--not-top .dark\:opacity-0:is([data-theme="dark"] *) {
    opacity: 100%;
}

.headroom--not-top .dark\:opacity-100:is([data-theme="dark"] *) {
    opacity: 0%;
}

html[data-theme="dark"] .header-headroom.headroom--not-top a {
    color: black;
}

html[data-theme="dark"] .header-headroom.headroom--not-top .underline-hover:is([data-theme="dark"] *)::after {
    background-color: black;
}

.headroom--not-top .custom-header-border {
    background-color: #e5e7eb;
    box-shadow: 0 4px 9px rgba(0,0,0,.047),0 1.54074px 2.86667px rgba(0,0,0,.073),0 .32593px .73333px rgba(0,0,0,.12);
}

.react-multi-carousel-item {
    padding-right: 1rem;
}

.react-multi-carousel-list {
    position: static !important;
}

.react-multi-carousel-dot--active button {
    background : #5D8D4B !important;
}

html[data-theme="dark"] .react-multi-carousel-dot--active button {
    background : white !important;
}

html[data-theme="dark"] .react-multi-carousel-dot button {
    border: 1px solid white !important;
}

.react-multi-carousel-dot button {
    border: 1px solid rgba(0, 0, 0, 0.500) !important;
}

.react-multi-carousel-dot-list {
    display: none !important;
}

body.popup-active,
html.popup-active {
    overflow-y: hidden;
}

.compensate-scrollbar {
    padding-right: var(--scrollbar-compensate, 1rem);
}

@media (max-width: 767px) {
    
    .react-multi-carousel-dot-list {
        display: flex !important;
    }

}

@media ( max-height: 450px ) {
    .settings-pop-up {
        height: 90%;
    }
}