@tailwind base;
@tailwind components;
@tailwind utilities;

.headroom {
    position: fixed;
}

.headroom--pinned {
	transform: translateY( 0px );
}

.headroom--unpinned {
	transform: translateY( -150px );
}

.headroom--not-top {
    background-color: rgb(246 253 243/var(--tw-bg-opacity, 0.75));
}